@use 'utils/variables';

.expenses-details {

    .expenses-details-content {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        row-gap: calc(variables.$base-form-gutter-size / 2);
        column-gap: variables.$base-form-gutter-size;

        input, textarea, select {
            width: 100%;
        }

        .date, .amount, .type, .category {
            flex-basis: 20%;
        }

        .comment {
            width: 100%;
            textarea {
                height: 5rem;
                resize: none;
            }
        }

        .edit-btn {
            margin-left: auto;
        }
    }

}