@use 'assets/scss/utils/variables';

.expense-details {

    .expense-details-content {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        row-gap: calc(variables.$base-form-gutter-size / 2);
        column-gap: variables.$base-form-gutter-size;

        input, textarea, select {
            width: 100%;
        }

        .date, .amount, .type, .category {
            flex-basis: 30%;
        }

        .required-field {
            font-size: variables.$xx-small-font-size;
            color: variables.$red-color;
        }

        .comment {
            width: 100%;
            textarea {
                height: 5rem;
                resize: none;
            }
        }

        .edit-btn {
            margin-left: auto;
        }
    }

}